// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$color-link: crimson;

body {
  background-color: white;
  color: #555;
  font: 16px/1.5 Helvetica,Arial,sans-serif;
}

div.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

h1 {
  border-bottom: 10px solid #eee;
}

h2, h3, h4, h5, h6 {
  font-size: inherit;
  color: black;
  margin: 2em 0 1em 0;
}

a {
  color: $color-link;
}

.error, .errors {
  color: red;
}

nav[role="main"] {
  color: grey;

  ul.action-list li {
    margin-right: 1em;
  }

  a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    &:hover {
      border-bottom: 3px solid grey;
    }
  }
}

%naked-list {
  list-style: none;
  padding-left: 0;
}

ul.movie-list, ul.actor-list {
  @extend %naked-list;
}

ul.action-list {
  @extend %naked-list;

  li {
    display: inline-block;
    margin-right: 3px;
  }
}

a.button, button, input[type="submit"] {
  display: inline-block;
  padding: 2px 20px 0px 20px;
  cursor: pointer;
  min-width: 70px;

  background-color: $color-link;
  color: white;

  text-decoration: none;
  text-align: center;
  font: inherit;
  line-height: 2em;

  border: none;
  border-radius: 2px;
}


/* forms */

div.input {
  margin: 1em 0;

  label {
    display: block;
    font-weight: bold;
  }

  input, textarea, select {
    font: inherit;
    border: none;
    background-color: #f2f2f2;
    padding: 5px 8px;
    border-radius: 2px;
    border: 1px solid #f2f2f2;
  }

  input, textarea {
    max-width: 600px;
    width: 100%;
  }

  .field_with_errors {
    label {
      color: red;
    }
    input, textarea {
      border-color: red;
    }
  }

  textarea {
    height: 5em;
  }

  /* Rails automatically assigns IDs to form fields based on the
     model and attribute that is being edited. We can use this to
     selectively override styles for specific form fields. */

  input#movie_title {
    font-weight: bold;
  }
}
