<nav role="main">
  <ul class="action-list">
    <li><%= link_to "MovieDB 2017", "/" %></li>
    <li><%= link_to "Movies", :movies %></li>
    <li><%= link_to "Actors", :actors %></li>
  </ul>
</nav>
